.App {
  text-align: center;
}
.box {
  width:315px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:rgba(74, 178, 247, 0.4);

}

.centrado-v {
  vertical-align: middle !important;
}

.fondo {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-width: 100%;
}

@media (max-width:576px) {
.fondo {
  background-image: url('./images/mob.jpg');
 }
}
@media (min-width:577px)and (max-width:767px) {
  .fondo {
    background-image: url('./images/emyt.jpg');
  }
}
@media (min-width:768px)and (max-width:1023px) {
  .fondo {
    background-image: url('./images/tab.jpg');
  }
}
@media (min-width:1024px) {
  .fondo {
    background-image: url('./images/esc.jpg');
  }
}
  /* media queries error */
.fondo-error {
  background-size:cover;
  background-position: center;
  min-height: 100vh;
  max-width: 100%;
}
@media (max-width:576px){
  .fondo-error {
    background-image: url('./images/mobile-e-x.jpg');
  }
  .fondo-error h1 {
    padding-top: 10rem;
  }
}
@media (min-width:577px) and (max-width:767px) {
  .fondo-error {
    background-image: url('./images/emyt-e-x.jpg');
  }
}
@media (min-width:768px) and (max-width:992px) {
  .fondo-error {
    background-image: url('./images/tablet-e-x.jpg');
  }
}
@media (min-width:993px) and (max-width:1023px) {
  .fondo-error {
    background-image: url('./images/aesc-e-x.jpg');
  }
}
@media (min-width:1024px) {
  .fondo-error {
    background-image: url('./images/escrit-e-x.jpg');
  }
}


.fondo-form {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-width: 100%;
}
@media (max-width:576px) {
  .fondo-form {
    background-image: url('./images/mobile-f-c.png');
  }
}
@media (min-width:577px) and (max-width:767px) {
  .fondo-form {
    background-image: url('./images/myt-form.jpg');
  }
}
@media (min-width:768px) and (max-width:992px) {
  .fondo-form {
    background-image: url('./images/tablet-f.jpg');
  }
}
@media (min-width:993px) and (max-width:1023px) {
  .fondo-form {
    background-image: url('./images/aesc-form.jpg');
  }
}
@media (min-width:1024px) {
  .fondo-form {
    background-image: url('./images/escf.jpg');
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
